<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


<!--    Proto type is use to inject to value to variable trough to prototype tag-->
<!--    there is on more tag constructor args to inject or set value to variable -->
<bean id="programmer" class="com.kunal.Programmer" scope="singleton">

    <constructor-arg name ="lineofcode" value="99"> </constructor-arg>
    <property name="lineofcode"  value="109"> </property>

</bean>
    <bean id="laptop"  class="com.kunal.Laptop" > </bean>
</beans>